body {
  background-color: #1b1725;
}

div#root {
  width: 100%;
   height: 615px;

}

input {
  margin: 0;
  background-color: none;
  border: none;
  outline: none;
}
.busca {
  margin: 0;
  font-size: large;
  height: 30px;
  width: 100%;
  padding: 5px;
  border-radius: 12px;
     background-color: rgba(255, 0, 0, 0);
  /* background-color: #373144; */
  outline: none;
}
.campo-de-busca {
    background-color: rgba(255, 0, 0, 0);
  display: flex;
  width: 70%;
  margin: auto;
  /* background-color: #373144; */
  border: 2px solid #eee8e8;
  border-radius: 12px;
  padding: 5px 10px;
}

