.background-style {
  -webkit-mask-image: linear-gradient(to top, transparent 8%, rgb(0, 0, 0) 25%);
  background-image: url(../image/spaceGradient.png);
}
.container {
  max-width: max-content;
  background-color: #1b1725;
  border: 2px solid #ffd829;
  outline: 1px solid #e9b015;
  outline-offset: 15px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.minContent {
  width: min-content;
}
form {
  width: 100%;
  padding: 15px 8px;
}
label {
  color: #dbc3ea;
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input {
  font-size: medium;
  display: block;
  height: 28px;
  width: 300px;
  margin-bottom: 10px;
  background-color: #44346d;
  padding: 5px;
  padding-left: 8px;
  border-radius: 12px;
  border: 2px solid #c287ae;
}

input:focus {
  border-color: #bf7481;
}

.error {
  background-color: #bc0f3d;
}
p.error {
  width: 100%;
  font-size: small;
  text-align: center;
  border-radius: 5px;
  word-break: break-all;
}

.select {
  width: 70px;
  height: 30px;
  margin-top: 35px;
  background-color: #44346d;
  border: 2px solid #c287ae;
  border-radius: 12px;
  text-align: center;
}

.select.selected {
  background-color: #c287ae;
  border: 3px solid #bf7481;
}
button.select:hover {
  outline: 3px solid #bf7481;
 
  outline-offset: 5px;
  transition: all 500ms;
}
.submit {
  background-color: #543a58;
  border-radius: 20px;
  border-color: #c287ae;
  margin-top: 8px;
  width: 50%;
}
.fadeInP {
  margin-top: 4px;
  margin-bottom: 4px;
  animation: fadeInP 800ms ease-in-out;
}
@keyframes fadeInP {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    margin-top: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* CSS para a animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CSS para a animação de saída */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Classe para animação de entrada */
.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

/* Classe para animação de saída */
.fadeOut {
  animation: fadeOut 1s ease-in-out;
}
